<form [formGroup]="searchForm">
    <div class="grid-container">
        <div class="error-msg" *ngIf="searchForm.value.departure && searchForm.value.departure === searchForm.value.destination">Departure and Destination cannot be same</div>
        <fieldset class="search-fields">
            <legend>Departure</legend>
            <input name="departure" id="departure" list="source" placeholder="Airport or City" formControlName="departure">
            <datalist id="source">
                <option *ngFor="let item of sourceList" [value]="item">{{item}}</option>
            </datalist>
        </fieldset>
        <div *ngIf="!departure.valid && (departure.dirty || departure.touched)" class="error-msg">
            <div *ngIf="departure.errors?.required">
                Departure is required.
            </div>
        </div>
        <fieldset class="search-fields">
            <legend>Destination</legend>
            <input name="destination" value="" list="source" placeholder="Airport or City" formControlName="destination">
        </fieldset>
        <div *ngIf="destination.invalid && (destination.dirty || destination.touched)" class="error-msg">
            <div *ngIf="destination.errors?.required">
                Destination is required.
            </div>
        </div>
        <div class="group-container">
            <fieldset>
                <legend>Depart date</legend>
                <input name="departdate" value="" type="date" format="MMM dd" [min]="minDate" formControlName="departdate">
                <div *ngIf="departdate.invalid && (departdate.dirty || departdate.touched)" class="error-msg">
                    <div *ngIf="departdate.errors?.required">
                        Date is required.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Return date</legend>
                <input name="returndate" value="" type="date" [min]="departdate.value" formControlName="returndate">
                <div *ngIf="returndate.invalid && (returndate.dirty || returndate.touched)" class="error-msg">
                    <div *ngIf="returndate.errors?.required">
                        Date is required.
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="group-container">
            <fieldset>
                <legend>Travelers</legend>
                <input (click)="showingModal()" [value]="'Adults '+adults+' Children '+children" formControlName="returndate" readonly>
                <div class="travelers-container modal" id="trav">
                    <div class="counter">
                        <label for="adult">Adults</label>
                        <button type="button" (click)="removeOne(adults, 'adults')">
                            <span class="material-icons-outlined">remove</span>
                        </button>
                        <input type="text" [value]="adults" id="adult">
                        <button type="button" (click)="addOne(adults, 'adults')">
                            <span class="material-icons-outlined">add</span>
                        </button>
                    </div>
                    <div class="counter">
                        <label for="child">Children</label>
                        <button type="button" (click)="removeOneChild(children, 'children')">
                            <span class="material-icons-outlined">remove</span>
                        </button>
                        <input type="text" [value]="children" id="child">
                        <button type="button" (click)="addOneChild(children, 'children')">
                            <span class="material-icons-outlined">add</span>
                        </button>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Class</legend>
                <select name="class" value="" formControlName="class">
                    <option *ngFor="let class of classList" [value]="class">{{class | titlecase}}</option>
                </select>
                <div *ngIf="class.invalid && (class.dirty || class.touched)" class="error-msg">
                    <div *ngIf="class.errors?.required">
                        Class is required.
                    </div>
                </div>
            </fieldset>

        </div>
        <button type="submit" id="flight-search" [ngClass]="searchForm.invalid ? 'search-button disabled' : 'search-button'" (click)="gotoResults(searchForm)">Search flights</button>
    </div>
</form>