
<div class="travelers-container">
    <div>
        <label for="adult">Adults</label>
        <button type="button" (click)="removeOne(adults, 'adults')">
            <span class="material-icons-outlined">remove</span>
        </button>
        <input type="text" [value]="adults" id="adult">
        <button type="button" (click)="addOne(adults, 'adults')">
            <span class="material-icons-outlined">add</span>
        </button>
    </div>
    <div>
        <label for="child">Children</label>
        <button type="button" (click)="removeOneChild(children, 'children')">
            <span class="material-icons-outlined">remove</span>
        </button>
        <input type="text" [value]="children" id="child">
        <button type="button" (click)="addOneChild(children, 'children')">
            <span class="material-icons-outlined">add</span>
        </button> 
    </div>
    
</div>

