$theme-color: rgb(0, 101, 168);
$secondary-color: cornsilk;
.stops-line {
    border-bottom: 2px solid #098119;
    width: -webkit-fill-available;
    margin-bottom: 8px;
    margin-top: -8px;
}

.navbar {
    padding: 0px;
}

.dot {
    height: 5px;
    width: 5px;
    margin: -7px;
    background-color: rgb(13, 117, 4);
    border-radius: 50%;
    display: inline-block;
}

.search-summary {
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    div {
        display: flex;
    }
}

.container {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
    div {
        padding: 5px;
    }
}

.card-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: overlay;
    padding-top: 15px;
    width: fill;
    span {
        position: inherit;
        float: right;
        top: 0;
        margin: -8px 12px;
        padding-inline: 3px;
        background-color: #fba504;
        border-radius: 5px;
        font-size: 0.6em;
        font-weight: 700;
        line-height: .88889rem;
        color: rgb(66, 39, 9);
        z-index: 10;
        right: 0;
    }
}

.header {
    display: grid;
    padding-left: 20px;
    grid-template-columns: 30px 200px;
    font-size: large;
    padding: 1em 0 0 1em;
    align-items: center;
}

.footer-body {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgb(9, 150, 243);
    overflow-x: scroll;
    scrollbar-width: none; // for Mozilla
    -ms-overflow-style: none; // for IE
    background-color: $theme-color;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: $secondary-color;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    p {
        margin: 0%;
        text-align: start;
    }
    h4 {
        margin: 0%;
    }
}

.footer-body::-webkit-scrollbar {
    display: none;
}

.title {
    text-align: center;
}

.float-buttons {
    bottom: 50px;
    position: sticky;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    button {
        padding: 10px 20px 10px 20px;
        width: 100px;
        background-color: white;
        color: #0B5971;
        font-size: large;
        text-align: center;
        box-shadow: 2px 8px 2px rgba(0, 0, 0, 0.2), 3px 10px 3px rgba(0, 0, 0, 0.19);
        border: 1px solid rgb(174, 177, 179);
        cursor: pointer;
    }
    .button2 {
        margin-left: 0%;
        border-radius: 0 5px 5px 0;
    }
    .button1 {
        margin-right: 0%;
        border-radius: 5px 0 0 5px;
    }
}