<div #sidenav class="sidenav" *ngIf="showSideNav" (click)="showSideNav=false">
    <ul>
        <li>
            <a>X</a>
        </li>
        <li>
            <a>About</a>
        </li>
    </ul>


</div>

<div class="title" id="app-title">
    <button class="back-button" (click)="showSideNav=true" style="float: left;"><span class="material-icons">menu</span></button><span id="sub">{{sub}}</span>{{title}}

    <div class="topnav" style="float: right;">
        <li>
            <a>About</a>
        </li>
    </div>
</div>


<app-tab-factory></app-tab-factory>