.sidenav {
    width: 150px;
    position: absolute;
    z-index: 1;
    overflow: auto;
    background-color: white;
    height: 100%;
    border: 1px solid grey;
    text-align: end;
    padding: 10px;
    transition: width 1s;
    text-decoration: none;
}

.topnav {
    float: right;
    display: inline-flex;
    padding: initial;
    list-style: none;
    font-size: large;
}

@media screen and (max-width: 600px) {
    .topnav {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .sidenav,
    .back-button {
        display: none;
    }
}